@media (max-width: 1800px) {
    .projectCard {
        flex-basis: 40%;
    }
}

@media (max-width: 1400px) {
    .projectCard {
        flex-basis: 50%;
    }
}

@media (max-width:1280px) {
    h1 {
        font-size: 3rem;
    }

    .techIcon {
        font-size: 2rem;
    }

    .about {
        .articleContainer {
            flex-direction: column;
        }

        .aboutDescription {
            width: 80%;
        }
    }
}

@media (max-width: 1200px) {
    .projectCard {
        flex-basis: 60%;
    }

    .skillBox {
        flex-basis: 30%;
    }
}

@media (max-width: 900px),
(max-height: 1024px) {

    h2 {
        margin: 1rem 0;
        font-size:2rem;
    }

    .projectCard {
        flex-basis: 100%;
    }


    .about {
        .aboutDescription {
            margin: 5rem 0;
        }
    }
}

@media (max-width: 750px) {
    .projectCard h3 {
        font-size: 2rem;
    }
}

@media (max-width: 691px) {
    section{
        position:relative;
    }
}

@media (max-width: 650px) {

    .welcomeHeader {
        .hello {
            display: block;
        }
    }


    .projectCard {
        height: 40rem;

        h3 {
            font-size: 1.75rem;
        }

        .projectDescription {
            padding: 1rem;
        }

    }
}

@media (max-width: 474px) {

    h2 {
        font-size: 1.75rem;
    }

    .skillBox {
        flex-basis: 100%;
        margin: 0.2rem;

        p {
            word-break: break-all;
        }
    }

    .techIcon {
        font-size: 2rem;
    }

    .navDropdown {
        width: unset;
        left: 0;
        transform: translateX(100vw);
    }

    .revealNav {
        transform: translateX(0px);
        visibility: visible;

    }

    .articleContainer {
        padding: 1rem;
    }

    .sideNav {
        right: 1rem;
    }

    .contactUl {
        top: unset;
        bottom: 0;
        left: 0;
        right: 0;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .welcomeHeader {
        font-size: 2.5rem;
    }

    .projectContainer {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .projectCard {
        flex-basis: unset;
        width: 100%;

        h3 {
            font-size: 1.5rem;
        }
    }

    .projectDescription p {
        text-align: left;
    }
}

@media (max-width: 375px) {

    .profileImage {
        width: 80%;
    }

}

@media (prefers-reduced-motion: reduce) {

    .techIcon:hover,
    .name,
    .name::before,
    .name::after,
    .navDropdown .navLink:hover,
    .iconTransition {
        animation: none;
    }

    .name::after,
    .name::before {
        display: none;
    }
}