@import '_setup';
@import '_mixins';


// =====================
// GENERAL STYLING
// =====================

html {
    font-size: 125%;
    scroll-behavior: smooth;
}



// =====================
// TYPOGRAPHY
// =====================
a {
    color: #d9d9d9;
    text-decoration: none;
}



body {
    background-color: #171717;
    color: #d9d9d9;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Abril Fatface', cursive;
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;

    .name {
        color: #00ffb8;
    }
}

h2,
h3 {
    color: #00ffb8;
}


// =====================
// HEADER
// =====================

.topNav {
    z-index: 11;
}

.sideNav,
.contactUl {
    z-index: 10;
}

.sideNav {
    .fas {
        color:#00ffb8;
    }
}

.topNav {
    position: fixed;
    right: 2rem;
    top: 1rem;
    width: 1rem;

}

.navMenu {
    background-color: #00ffb700;
    border: none;
    color: #d9d9d9;
    position: absolute;
    z-index: 1000;
}

.navDropdown {
    background-color: #171717;
    border-left: 1px solid #00ffb8;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(60vw);
    transition: all 2s;
    visibility: hidden;
    width: 50vw;

    .navLink {
        position: relative;
        font-size: 2.5rem;
        z-index: 10;

        &:after {
            border: none;
            border-top: solid 2px #8cd696;
            bottom: -1rem;
            content: "";
            height: 15px;
            left: 0;
            position: absolute;
            transition: all 0.5s;
            width: 0%;
        }
        
        &:hover::after {
            width: 100%;
        }
    }

}




.revealNav {
    transform: translateX(0px);
    visibility: visible;

}

.sideNav {
    position: absolute;
    right: 2rem;
    top: 45%;
}

.navContainer {
    list-style-type: none;
}

.contactUl {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 20%;

    .contactList {
        margin: 1rem;
    }

    .icon:hover,
    .icon:focus {
        color: #00ffb8;
    }
}

// =====================
// MAIN
// =====================

section {
    background-color: #171717;
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 100vh;
    position: sticky;
    right: 0;
    scroll-snap-align: start;
    top: 0;
}

.articleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 1440px;
    padding: 2rem;
}




.scrollWrapper {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

// =====================
// WELCOME SCREEN
// =====================

.background {
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -5;
}


.welcome {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 0;
    max-width: unset;
    padding-top: 0;
    width: 100%;
    z-index: 1;

    .welcome canvas {
        height: 100%;
        position: relative;
        top: 0px;
        width: 100%;
        z-index: -100;
    }

}

// =====================
// ABOUT
// =====================

.profileImage {
    box-shadow: -100px 100px #00ffb8;
    width: 15rem;
}

.aboutDescription {
    width: 50%;
}

.about {
    z-index: 2;

    .articleContainer {
        flex-direction: row;
        justify-content: space-around;
    }
}

// =====================
// SKILLS
// =====================
.skills {
    z-index: 3;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
}

.skillBox {
    margin: 0.5rem;
    text-align: center;
    width: 20%;
}

.techIcon {
    font-size: 6em;

    &:hover {
        color: #00ffb8;
    }
}

// =====================
// PROJECTS
// =====================



.projectLink {
    background-color: #00ffb8;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.75rem;

    &:hover {
        color: #171717;
    }
}

.outlined {
    background-color: #171717;
    border: 1px solid #00ffb8;

    &:hover {
        color: #00ffb8;
    }
}

.projects {
    padding: 2rem 2rem 5rem;
    position: relative;
    z-index: 4;

    h2 {
        text-align: center;
    }
}

.projectContainer {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
}

.projectCard {
    align-items: center;
    background-color: #17171775;
    border: 1px solid #00ffb8;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    height: 30rem;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    position: relative;

    h3 {
        font-size: 3rem;
    }
}

.projectDescription {
    padding: 2rem;
    position: absolute;
    text-align: center;
    visibility: hidden;
}


.bubbles {
    @include setBackground('./../images/bubbles.JPG');
}

.triviaBlitz {
    @include setBackground('./../images/triviaBlitz.JPG');
}

.barOne {
    @include setBackground('./../images/BarOne.JPG');
}

.shutter {
    @include setBackground('./../images/shutter.JPG');
}

.movieReel {
    @include setBackground('./../images/movieReel.jpg');
}

.calculator {
    @include setBackground('./../images/calc.jpg');
}



.projectCard:hover,
.projectCard:focus-within,
.projectCard:focus {
    background-color: #171717;

    h3,
    h4 {
        visibility: hidden;
    }

    .projectDescription {
        visibility: visible;
    }

}



@import '_mediaQueries';