@import '_setup';
@import '_mixins';
@import '_typography';
@import '_animations';


// =====================
// GENERAL STYLING
// =====================

html {
    font-size: 125%;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #00ffb8;
}
// =====================
// HEADER
// =====================

@import '_navigation';

// =====================
// MAIN
// =====================

section {
    background-color: #171717;
    bottom: 0;
    left: 0;
    margin: auto;
    min-height: 100vh;
    position: sticky;
    right: 0;
    top: 0;
}

.articleContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    padding: 2rem;
}

.scrollWrapper {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-color:#00ffb8 #171717;
    scrollbar-width: thin;
}

// =====================
// WELCOME SCREEN
// =====================

.background {
    height: 100vh;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.name {
    -moz-animation: glitch 2s infinite alternate-reverse;
    animation: glitch 2s infinite alternate-reverse;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    position: relative;
    z-index: 5;
}

.name::before,
.name::after {
    content: "RYAN.";
    position: absolute;
    z-index: 5;

}

.name::before {
    -moz-animation: glitch1 2s infinite alternate-reverse;
    animation: glitch1 2s infinite alternate-reverse;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    left: 3px;
    text-shadow: -2px 0 red;
    z-index: 5;
}

.name::after {
    -moz-animation: glitch2 2s infinite alternate-reverse;
    animation: glitch2 2s infinite alternate-reverse;
    -moz-animation-delay: 0s;
    animation-delay: 0s;
    left: -3px;
    text-shadow: 2px 0 blue;
}

.welcome {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin-top: 0;
    max-width: unset;
    padding-top: 0;
    width: 100%;

    .welcome canvas {
        height: 100%;
        position: relative;
        top: 0px;
        width: 100%;
        z-index: -100;
    }


}

// =====================
// ABOUT
// =====================

.profileImage {
    box-shadow: -100px 100px #00ffb8;
    width: 15rem;
}

.aboutDescription {
    width: 50%;
}

.about {

    h2 {
        margin: 1rem;
    }

    .articleContainer {
        flex-direction: row;
        justify-content: space-around;
    }
}

// =====================
// SKILLS
// =====================

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
}

.skillBox {
    flex-basis: 20%;
    margin: 0.5rem;
    text-align: center;
}

.techIcon {
    font-size: 6em;
    position: relative;
    transition: color 0.5s;

    &:hover {
        -moz-animation: textGlitch 2s infinite alternate-reverse;
        animation: textGlitch 2s infinite alternate-reverse;
        -moz-animation-delay: 0s;
        animation-delay: 0s;
        color: #00ffb8;

    }
}

// =====================
// PROJECTS
// =====================

.projectLink {
    background-color: #00ffb8;
    border-radius: 15px;
    color: #fff;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem;
    padding: 0.75rem;
    transition: color 0.5s;

    &:hover {
        color: #171717;
    }
}

.outlined {
    background-color: #171717;
    border: 1px solid #00ffb8;

    &:hover {
        color: #00ffb8;
    }
}

.projects {
    background-attachment: fixed;
    padding: 2rem 2rem 10rem;

    h2 {
        text-align: center;
    }
}

.projectCard,
.projectContainer {
    align-items: center;
    display: flex;
}

.projectContainer {
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 90%;
}

.projectCard {
    background-color: #171717da;
    border: 1px solid #00ffb8;
    flex-basis: 30%;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    position: relative;
    max-width:1440px;


    .coloured {
        color: #00ffb8;
    }

    h3 {
        font-size: 3rem;
    }

    h3,
    h4 {
        text-align: center;
    }
}

.projectDescription {
    opacity: 0;
    padding: 2rem;
    position: absolute;
    text-align: center;
    visibility: hidden;

}


.projectCard:hover,
.projectCard:focus-within,
.projectCard:focus {


    h3,
    h4 {
        visibility: hidden;
    }

    .projectDescription {
        opacity: 1;
        transition: all 1s;
        visibility: visible;
    }

}

.makeupToArt {
    @include setBackground('./../images/makeupToArt.JPG');
}

.bubbles {
    @include setBackground('./../images/bubbles.JPG');
}

.triviaBlitz {
    @include setBackground('./../images/triviaBlitz.png');
}

.barOne {
    @include setBackground('./../images/BarOne.JPG');
}

.shutter {
    @include setBackground('./../images/shutter.JPG');
}

.movieReel {
    @include setBackground('./../images/movieReel.jpg');
}

.calculator {
    @include setBackground('./../images/calc.jpg');
}

.dailyInspiration {
    @include setBackground('./../images/dailyInspiration.png');
}



@import '_mediaQueries';