@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: “”‘’;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
figure {
  margin: 0;
}

legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.srOnly:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

ul {
  list-style-type: none;
}

html {
  font-size: 125%;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}

body {
  background-color: #171717;
  color: #d9d9d9;
  font-family: "Lexend Giga", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 6rem;
  z-index: 1;
}
h1 .name {
  color: #00ffb8;
}

h2 {
  font-size: 3rem;
}

h2,
h3 {
  color: #00ffb8;
}

p {
  line-height: 1.2;
}

.topNav {
  position: fixed;
  right: 2.5rem;
  top: 1rem;
  width: 1rem;
  z-index: 11;
}

.sideNav,
.contactUl {
  z-index: 10;
}

.sideNav .fas {
  color: #00ffb8;
}

.navMenu {
  background-color: #00ffb700;
  border: none;
  color: #d9d9d9;
  font-size: 1.5rem;
  position: absolute;
  z-index: 1000;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.navMenu:hover {
  color: #00ffb8;
}
.navMenu:focus {
  color: #00ffb8;
}

@-webkit-keyframes times {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes times {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}
.iconTransition {
  -webkit-animation: times 1s;
          animation: times 1s;
}

.navDropdown {
  background-color: #171717;
  border-left: 1px solid #00ffb8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  -webkit-transform: translateX(60vw);
          transform: translateX(60vw);
  -webkit-transition: all 2s;
  transition: all 2s;
  visibility: hidden;
  width: 50vw;
}
.navDropdown .navLink {
  position: relative;
  font-size: 2.5rem;
  z-index: 10;
}
.navDropdown .navLink:after {
  border: none;
  border-top: solid 2px #00ffb8;
  bottom: -1rem;
  content: "";
  height: 15px;
  left: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 0%;
}
.navDropdown .navLink:hover::after {
  width: 100%;
}

.revealNav {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  visibility: visible;
}

.sideNav {
  position: absolute;
  right: 2rem;
  top: 45%;
}

.contactUl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5rem;
  left: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 45%;
}
.contactUl .icon {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.contactUl .contactList {
  margin: 1rem;
}
.contactUl .icon:hover,
.contactUl .icon:focus {
  color: #00ffb8;
}

section {
  background-color: #171717;
  bottom: 0;
  left: 0;
  margin: auto;
  min-height: 100vh;
  position: sticky;
  right: 0;
  scroll-snap-align: start;
  top: 0;
}

.articleContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1440px;
  padding: 2rem;
}

.scrollWrapper {
  height: 100vh;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.background {
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.welcome {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  max-width: unset;
  padding-top: 0;
  width: 100%;
}
.welcome .welcome canvas {
  height: 100%;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: -100;
}

.profileImage {
  -webkit-box-shadow: -100px 100px #00ffb8;
          box-shadow: -100px 100px #00ffb8;
  width: 15rem;
}

.aboutDescription {
  width: 50%;
}

.about .articleContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0;
}

.skillBox {
  margin: 0.5rem;
  text-align: center;
  width: 20%;
}

.techIcon {
  font-size: 6em;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.techIcon:hover {
  color: #00ffb8;
}

.projectLink {
  background-color: #00ffb8;
  border-radius: 15px;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem;
  padding: 0.75rem;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.projectLink:hover {
  color: #171717;
}

.outlined {
  background-color: #171717;
  border: 1px solid #00ffb8;
}
.outlined:hover {
  color: #00ffb8;
}

.projects {
  padding: 2rem 2rem 10rem;
  position: relative;
}
.projects h2 {
  text-align: center;
}

.projectCard, .projectContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projectContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  width: 90%;
}

.projectCard {
  background-color: #171717da;
  border: 1px solid #00ffb8;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
  padding: 1rem;
  position: relative;
}
.projectCard .coloured {
  color: #00ffb8;
}
.projectCard h3 {
  font-size: 3rem;
}

.projectDescription {
  padding: 2rem;
  position: absolute;
  text-align: center;
  visibility: hidden;
}

.projectCard:hover h3,
.projectCard:hover h4,
.projectCard:focus-within h3,
.projectCard:focus-within h4,
.projectCard:focus h3,
.projectCard:focus h4 {
  visibility: hidden;
}
.projectCard:hover .projectDescription,
.projectCard:focus-within .projectDescription,
.projectCard:focus .projectDescription {
  visibility: visible;
}

.makeupToArt {
  background: url("./../images/makeupToArt.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.bubbles {
  background: url("./../images/bubbles.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.triviaBlitz {
  background: url("./../images/triviaBlitz.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.barOne {
  background: url("./../images/BarOne.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.shutter {
  background: url("./../images/shutter.JPG");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.movieReel {
  background: url("./../images/movieReel.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.calculator {
  background: url("./../images/calc.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 1800px) {
  .projectCard {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (max-width: 1400px) {
  .projectCard {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media (max-width: 1280px) {
  h1 {
    font-size: 3rem;
  }

  .techIcon {
    font-size: 3rem;
  }

  .about .articleContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about .aboutDescription {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .projectCard {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media (max-width: 900px) {
  .projectCard {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
@media (max-height: 1023px) {
  section {
    padding-bottom: 10rem;
    position: relative;
  }

  .about .aboutDescription {
    margin: 5rem;
  }
}
@media (max-width: 650px) {
  .welcomeHeader .hello {
    display: block;
  }

  .projectCard {
    height: 40rem;
  }
  .projectCard .projectDescription {
    padding: 1rem;
  }
}
@media (max-width: 474px) {
  h2 {
    font-size: 2rem;
  }

  .skillBox {
    margin: 0.2rem;
    width: 40%;
  }
  .skillBox p {
    word-break: break-all;
  }

  .techIcon {
    font-size: 2rem;
  }

  .navDropdown {
    width: unset;
    left: 0;
    -webkit-transform: translateX(100vw);
            transform: translateX(100vw);
  }

  .revealNav {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }

  .articleContainer {
    padding: 1rem;
  }

  .sideNav {
    right: 1rem;
  }

  .contactUl {
    top: unset;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }

  .welcomeHeader {
    font-size: 2.5rem;
  }

  .projectContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .projectCard {
    -ms-flex-preferred-size: unset;
        flex-basis: unset;
    width: 100%;
  }
  .projectCard h3 {
    font-size: 1.75rem;
  }

  .projectDescription p {
    text-align: left;
  }
}
@media (max-width: 375px) {
  .projectCard {
    height: 55rem;
  }

  .profileImage {
    width: 80%;
  }

  .about h2 {
    margin: 0;
  }
}